<ion-header>
  <ion-toolbar>
    <ion-title>
      Subscription Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Total Spending</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>€0.00 / Month</h2>
      <h2>€0.00 / Year</h2>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Upcoming Renewals</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>No subscriptions yet.</p>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add-subscription">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
